# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Database files
*.db
*.sqlite3
fallback.db

# Configuration and Environment secrets
.env

# Logs and outputs
*.log
